node_modules
.next
.git
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tests
.env
.env*.local
.data
dist
out
coverage
docs
*.md
!README.md
.cursor
.vscode
Dockerfile*
docker-compose*.yml
.gitignore
.eslintrc.json
